.text {
  display: flex;
  flex-direction: column;

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  &.center {
    text-align: center;
  }
}

.description {
  color: var(--secondary-color);
}

.error {
  .title {
    color: var(--red-light);
  }

  .description {
    color: var(--red-dark);
  }
}

.size_m {
  .description{
    font-size: var(--font-size-m);
  }

  .title {
    font-size: var(--font-size-l);
  }
}

.size_l {
  .description{
    font-size: var(--font-size-l);
  }

  .title {
    font-size: var(--font-size-xl);
  }
}