.text {
  display: flex;
  flex-direction: column;

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  &.center {
    text-align: center;
  }
}

.title {
  font-size: var(--font-size-l);
}

.description {
  color: var(--secondary-color);
}

.error {
  .title {
    color: var(--red-light);
  }

  .description {
    color: var(--red-dark);
  }
}