.panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: var(--card-bg);
  z-index: var(--z-index-popup);
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  padding: 10px;
}
