.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 7px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 1px;
  
  &:focus {
    border: 1px solid var(--primary-color);
    outline: none;
    margin: 0;
  }
}

.clean {
  cursor: default;
  
  .input {
    padding: 7px;
    margin: 1px;
    color: var(--secondary-color);
    border: none;
    background: none;
    outline: none;
    cursor: default;
  }
}