.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #09093f;
  --primary-color: #2f4fa8;
  --secondary-color: #5b86e3;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}