.BIG {
  width: 100%;

  .title {
    margin-top: 10px;
  }

  .image {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    margin: 10px 0;
  }

  .views {
    margin-left: auto;
  }

  .articleFooter {
    margin-top: 16px;
  }

  .textBlock {
    max-height: 210px;
    overflow-y: hidden;
  }
}


.SMALL {
  width: 230px;
  display: block;

  .date {
    position: absolute;
    right: 0;
    top: 0;
  }

  .imageWrapper {
    width: 200px;
    height: 200px;
    position: relative;
  }

  .image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }


  .infoWrapper {
    margin-top: 8px;
  }

  .types {
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .views {
    margin-left: auto;
  }

  .icon {
    margin-left: 3px;
    color: var(--primary-color)
  }

  .title {
    margin-top: 8px;
  }

  .titleCn {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}