.card {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dataField {
  width: 200px;
}