.card {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dataField {
  width: 200px;
}

.loading, .error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
}